In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
a="ram"                      #string
li=["ram",1,2,3,1.3,True]    #list
b=10.2                       #float
my_tuple = (1, 2, 3, 4, 5)   #tuple

In [3]:
a

'ram'

In [4]:
li

['ram', 1, 2, 3, 1.3, True]

In [5]:
b

10.2

In [6]:
my_tuple

(1, 2, 3, 4, 5)

In [7]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [17]:
var1 = ' '

type(var1)

str

In [13]:
var2 = '[ DS , ML , Python]'

In [14]:
type(var2)

str

In [19]:
 var3 = [ 'DS' , 'ML' , 'Python' ]

In [20]:
type(var3)

list

In [21]:
var4 = 1.

In [22]:
type(var4)

float

In [ ]:

# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [33]:
# / (Division Operator):
# The division operator / is used to divide one number by another. 
# for example:
result = 10 / 3
print(result)

3.3333333333333335

In [34]:
# % (Modulus Operator):
# The modulus operator % returns the remainder of the division of the left operand by the right operand.

re=30%10
print(re)

0

In [35]:
#  // (Floor Division Operator):
# The floor division operator // returns the quotient of the division, removing the decimal part (if any). It rounds down to the nearest whole number.
res=30//4
print(res)

7

In [36]:
# ** (Exponentiation Operator):
# The exponentiation operator ** is used to raise the left operand to the power of the right operand.
ressult1=4**3
print(ressult1)

64

In [48]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
mylist = [10, "hello", 3.14, True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5, 6), None, 8.9, False]
for i in mylist:
    print(i)
    print(type(i))

10
<class 'int'>
hello
<class 'str'>
3.14
<class 'float'>
True
<class 'bool'>
[1, 2, 3]
<class 'list'>
{'a': 1, 'b': 2}
<class 'dict'>
(4, 5, 6)
<class 'tuple'>
None
<class 'NoneType'>
8.9
<class 'float'>
False
<class 'bool'>

In [56]:
# Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0
while A % B == 0:
    count += 1
A /= B
if count > 0:
           print("A is divisible by B")
else:
            print("A is not divisible by B")

Enter the number A:  2
Enter the number B:  3

A is not divisible by B

In [59]:
# Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
my_list = [i for i in range(1, 26)]
for element in my_list:
    if element % 3 == 0:
        print("element is divisible by 3.")
    else:
        print("element is not divisible by 3.")

element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.
element is not divisible by 3.
element is divisible by 3.
element is not divisible by 3.

In [61]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
# Mutable Data Types: Mutable data types allow modifications after creation. 
# This means you can change the value or content of the object without changing its identity.
# Examples of mutable data types in Python include lists, dictionaries, and sets.
my_list = [1, 2, 3]
print("Original list:", my_list)
my_list[0] = 100
print("Modified list:", my_list)

Original list: [1, 2, 3]
Modified list: [100, 2, 3]

In [66]:
# Immutable Data Types: Immutable data types, on the other hand, do not allow modifications after creation. 
# If you need to change the value of an immutable object, you need to create a new object with the desired value.
# Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)
try:
    my_tuple[0] = 100
except TypeError as e:
    print("Error:", e)

Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment